# =========================================
# 1. DEPENDENCIAS (El culpable de los 2000 archivos!)
# =========================================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================================
# 2. CARPETAS DE COMPILACIÓN
# =========================================
dist/
build/
.output/
.nuxt/

# =========================================
# 3. PLAYWRIGHT E2E TESTS
# =========================================
test-results/
playwright-report/
blob-report/
playwright/.cache/
playwright/.auth/

# =========================================
# 4. SEGURIDAD Y CONFIGURACIÓN
# =========================================
# .env (Permitimos .env para este proyecto)

# =========================================
# 5. BASES DE DATOS LOCALES
# =========================================
docker_data/
data/
*.sql.gz

# =========================================
# 6. ARCHIVOS DE SISTEMA OPERATIVO Y EDITORES
# =========================================
Thumbs.db
.DS_Store
.vscode/
!.vscode/settings.json
# =========================================
# 7. ARCHIVOS DE USUARIO Y BINARIOS
# =========================================
*.pdf
uploads/
microservices/manuscritos/uploads/
