# =========================================
# 1. DEPENDENCIAS (¡El culpable de los 2000 archivos!)
# =========================================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================================
# 2. CARPETAS DE COMPILACIÓN
# =========================================
dist/
build/
.output/
.nuxt/

# =========================================
# 3. SEGURIDAD Y CONFIGURACIÓN
# =========================================
.env
.env.local

# =========================================
# 4. BASES DE DATOS LOCALES (Si mapean volúmenes)
# =========================================
# Si alguna vez la base de datos se guarda en su compu, esto evita que se suba
/docker_data/
/data/
*.sql.gz

# =========================================
# 5. ARCHIVOS DE SISTEMA OPERATIVO Y EDITORES
# =========================================
# Windows y Mac
Thumbs.db
.DS_Store
# VS Code (Ignoramos configuraciones personales, pero permitimos las del equipo)
.vscode/
!.vscode/settings.json
